Install Jupyter notebook and run the first program and share the screenshot of the output.

In [2]:
1+1

2

Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [5]:
a=[]
for i in range(2000,3201):
    if(i%7==0) and (i%5==0):
        a.append(str(i))
print(','.join(a))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [6]:
first_name=input("Please enter first name")
last_name=input("Please enter last name")
print(last_name+' '+first_name)

Please enter first nameVinod
Please enter last nameKumar
Kumar Vinod

Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [8]:
pi=3.14
r=12
v=4/3*pi*r**3
print(v)

7234.5599999999995

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [9]:
nos=input("Please enter the numbers")
lst=nos.split(',')
print(lst)

Please enter the numbers1,3,5,7,9
['1', '3', '5', '7', '9']

Create the below pattern using nested for loop in Python.

In [12]:
n=5
for i in range(n):
    for j in range(i):
        print('*',end="")
    print('')
for i in range(n,0,-1):
    for j in range(i):
        print('*',end="")
    print('')

*
**
***
****
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.

In [17]:
input_word=input()
for i in range(len(input_word) -1,-1,-1):
    print(input_word[i],end="")
print('\n')

AcadGild
dliGdacA

Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [18]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens